<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#402188fe"> <!-- Set your desired theme color -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"> <!-- Replace 'favicon.png' with your actual favicon -->
    <title>DashBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <header>
        <input type="checkbox" name="" id ="chk1">
               <div class="logo">
            <img src="{{url_for('static', filename = '/images/yin_yang.svg')}}" height="50">
            <h1><span>SerenitySphere</span></h1>
        </div>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Jokes</a></li>
                <li><a href="#">Music</a></li>
                <li><div class="hiandemoji"><a href="#"><img src="{{ url_for('static', filename='/images/face.webp') }}" alt="" height = "30"></a><a style="font-size: 30px;" >{{hi}}</a></div></li>
                <li><a href="/logout"> <img src="{{ url_for('static', filename='/images/power-off-solid.svg') }}" alt="" height = "30"></a></li>
            </ul>

        <div class = "menu">
            <label for="chk1"> <img src="{{ url_for('static', filename='/images/bars-solid.svg') }}" alt=""></label>
        </div>
    </header>

    <div class="conatiner">
        <div class="card-container">
            <div class="card">
                <img src="{{ url_for('static', filename='images/Friends.jpg')}}" alt="">
                <div class="card_content">
                    <h3>Joke</h3>
                    <p>Reading a joke can quickly lighten your mood and momentarily alleviate stress.</p>
                    <button class="btn" id="btn1">Read Jokes</button>
                </div>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/breathing.jpg')}}" alt="">
                <div class="card_content">
                    <h3>Breathing</h3>
                    <p>Practicing deep, mindful breathing triggers the body's relaxation response, reducing stress.</p>
                    <button class="btn" id="btn4">Exercise</button>
                </div>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/games.jpg')}}" alt="">
                <div class="card_content">
                    <h3>Games</h3>
                    <p>Playing games offers a therapeutic escape, engaging the mind.</p>
                    <button class="btn" id="btn2">Play Games</button>
                </div>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/Music.jpg')}}" alt="">
                <div class="card_content">
                    <h3>Music</h3>
                    <p>Listening to music has a calming effect on the nervous system.</p>
                    <button class="btn" id="btn3">Play Music</button>
                </div>
            </div>
        <div id="customNotification" class="modal">
            <p id="notificationMessage"></p>
        </div>
        </div>
        <script>
            document.getElementById('btn1').addEventListener('click', function() {
                window.location.href = '/joke';
            });
            document.getElementById('btn2').addEventListener('click', function() {
                window.location.href = 'https://tictactoeegame.netlify.app/';
            });
            document.getElementById('btn3').addEventListener('click', function() {
                window.location.href = 'https://lofifm.vercel.app/';
            });
            document.getElementById('btn4').addEventListener('click', function() {
                window.location.href = '/be';
            });
        </script>
        <script>
            let msg = "Congrats your happy index is now {{hi}}"; // Your message here
            const customNotification = document.getElementById('customNotification');
            const notificationMessage = document.getElementById('notificationMessage');

            notificationMessage.textContent = msg;
            customNotification.style.display = 'block';

            // Close the custom notification after a few seconds (adjust the timeout as needed)
            setTimeout(function() {
                let msg = "Complete activities to increase Happiness index"
                notificationMessage.textContent = msg;
                customNotification.style.display = 'block';
            }, 3000); //
            setTimeout(function() {
                customNotification.style.display = 'none';
            }, 5500);


    </script>

    </div>
</body>
</html