<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='joke.css') }}">
</head>
<body>
    <div class="container">
        <div class="joke">
            <h1> Joke Generator</h1>
            <p class="jokeSpecify">
                Why should you never trust the stairs?<br>
                <br>
                They're upto something</p>
            </p>
            <div class="btn" onclick="generateJoke()" id="generateJoke">Generate Joke</div>
            <button class="btn" id="Quit" class="">Quit</button>
        </div>
        <div class="popup" id="popup" >
            <h2>How do You feel now?</h2>
            <form action="/quit_joke" method="post">
                <input type="radio" name="feedback" id="" value="1" required>
                Good
                <input type="radio" name="feedback" id="f" value="0" required>
                Bad
                <button type="submit"  class="Submitbtn"><span>Submit</span></button>
            </form>
        </div>
    </div>
    <script>
        let jokeList = [
            "What did the late tomato say to the early tomato?<br><br> I will ketch up",
            "Why did the scarecrow win an award?<br><br> Because he was outstanding in his field!",
            "What do you call a fish wearing a crown?<br><br> A kingfish!",
            "What did the pencil say to the paper?<br><br> "You've got a good point!"

        ]
        function generateJoke(){
            let randomVar = Math.floor(Math.random()* jokeList.length)
            document.querySelector(".jokeSpecify").innerHTML = jokeList[randomVar]
        }
        popup = document.getElementById('popup')
        document.getElementById('Quit').addEventListener('click', () => {
            popup.classList.add('open_popup')
        })
    </script>
</body>
</html>