<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name ="viewport" content = "initial-scale-1=1, width=device-width">
  <title>Mood Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='mq.css') }}">
</head>
<body>
  <div class="quiz-container">
    <h1>Mood Quiz</h1>
    <form id="quiz-form" action="/submitmq" method="get">
      <div class="question" id="question1">
        <p>How well do you cope with stress?</p>
        <button class="option" onclick="showQuestion(2, 1, 4)">Good</button>
        <button class="option" onclick="showQuestion(2, 1, 3)">Moderate</button>
        <button class="option" onclick="showQuestion(2, 1, 2)">Bad</button>
        <button class="option" onclick="showQuestion(2, 1, 1)">Severe</button>
      </div>

      <div class="question" id="question2" style="display: none;">
        <p>How well do you sleep?</p>
        <button class="option" onclick="showQuestion(3, 2, 4)">Good</button>
        <button class="option" onclick="showQuestion(3, 2, 3)">Moderate</button>
        <button class="option" onclick="showQuestion(3, 2, 2)">Bad</button>
        <button class="option" onclick="showQuestion(3, 2, 1)">Severe</button>
      </div>

      <div class="question" id="question3" style="display: none;">
        <p>How well do you perceive your relationships?</p>
        <button class="option" onclick="showlast(4)">Good</button>
        <button class="option" onclick="showlast(3)">Moderate</button>
        <button class="option" onclick="showlast(2)">Bad</button>
        <button class="option" onclick="showlast(1)">Severe</button>
      </div>
      <button type="submit" id="submit-button" style="display: none;">Submit</button>
    </form>
    <p id="result" style="display: none;"></p>
  </div>

  <script src="{{ url_for('static', filename='mq.js') }}"></script>
</body>
</html>
